<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo text-center">
      Productos de Artesania
    </ion-title>
    <ion-buttons>
      <ion-button>

      </ion-button>
      <ion-button>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3 class="subtitulo encabezado" > Ingrese los datos del la Artesanía</h3>
  <ion-item>
    <ion-label position="floating" >
      Nombre 
    </ion-label>
    <ion-input type="string">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >
      Precio 
    </ion-label>
    <ion-input type="number" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >
      Categoría 
    </ion-label>
    <ion-input type="string">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >
      Stock
    </ion-label>
    <ion-input type="number" >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label >
      Foto 
    </ion-label>
    <ion-buttons slot="end">
      <ion-button >
          <ion-icon slot="icon-only" name="images"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
      <ion-textarea placeholder="Ingresa la descripción de la artezanía..."></ion-textarea>
   </ion-item>
  

  <ion-button style="margin: 20px;" expand="full" color="dark">
    Guardar
  </ion-button>
</ion-content>