<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.incanoit.craftgalleryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CraftGalleryApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.ceramica.terminos.TerminosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ceramica.products.list.CeramicaProductsListActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.admins.update.UserUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.administrador.users.lists.AdminUsersListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RepartidorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ArtezanoRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.payments.status.ClientPaymentsStatusActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.payments.installments.ClientPaymentsInstallmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.orders.map.ClientOrdersMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.delivery.orders.map.DeliveryOrdersMapActivity"
            android:exported="true" />
        <activity
            android:name=".activities.delivery.orders.detail.DeliveryOrdersDetailActivity"
            android:exported="true"
            android:parentActivityName=".activities.delivery.home.DeliveryHomeActivity" />
        <activity
            android:name=".activities.ceramica.orders.detail.RestaurantOrdersDetailActivity"
            android:exported="true"
            android:parentActivityName=".activities.ceramica.home.CeramicaHomeActivity" />
        <activity
            android:name=".activities.client.orders.detail.ClientOrdersDetailActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.client.payments.form.ClientPaymentFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.addres.map.ClientAddressMapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.addres.create.ClientAddressCreateActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.addres.list.ClientAddressListActivity" />
        <activity
            android:name=".activities.client.addres.list.ClientAddressListActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.shoping_bag.ClientBagActivity" />
        <activity
            android:name=".activities.client.shoping_bag.ClientBagActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.client.products.detail.ClientProductsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.products.list.ClientProductsListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.update.ClientUpdateActivity"
            android:exported="true"
            android:parentActivityName=".activities.client.home.ClientHomeActivity" />
        <activity
            android:name=".activities.SaveImageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.delivery.home.DeliveryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ceramica.home.CeramicaHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectRolesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.client.home.ClientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.administrador.home.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5kQgV5WSLeakrUD5Vdw-RtGjcAotyF0Y" />
    </application>

</manifest>